@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Central Play</h1>

<p>This is a platform that works as a repository of model that can be shared across other platforms with integrations and approved access</p>

<p>Because this platform is not done yet, you will not need to login.</p>